<%= render partial: 'user', locals: { user: @user } %>
<div class="p-2 border mb-4">
  <h1>Bio</h1>
  <p class="mt-4"><%= @user.bio %></p>
</div>
<div class="w-full flex justify-center mb-4">
  <a href="<%= new_user_post_path(user_id:@user.id) %>" class="border cursor-pointer p-1">Make a new post</a>
</div>
<ul class="flex flex-col gap-y-2 mb-2">
  <%= render partial: 'posts/post', collection: @posts, locals: { comments: [] } %>
</ul>
<% if @posts.any? %>
  <div class="flex justify-center">
    <a href="<%= user_posts_path(@user) %>" class="border p-1" id="all-posts-btn"
>See all posts</a>
  </div>
<% end %>
