<li class="p-2 border post">
  <a href="<%= user_post_path(user_id:post.author_id, id:post.id) %>">
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
    <p class="text-right">Comments:<%= post.comments_counter %>,Likes: <%= post.likes_counter %></p>
  </a>
  <% if comments.present? %>
    <ul>
      <% unless comments.empty? %>
        <% comments.each do |comment| %>
          <%= render partial: 'comment', locals: { comment: comment } %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</li>
