<div>
  <div class="border p-2">
    <h1>"<%= @post.title %>" by <%= @post.author.name %></h1>
    <p class="text-right">Comments:<%= @post.comments_counter %>,Likes: <%= @post.likes_counter %></p>
  </div>
  <p class="border p-2"><%= @post.text %></p>
</div>
<ul>
  <%= link_to 'Add a new comment', new_user_post_comment_path(user_id: @post.author, post_id: @post) %>
  <% unless @post.comments.empty? %>
    <%= render partial: 'comment', collection: @post.comments %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</ul>
