<div>
  <div class="border p-2">
    <div class="flex justify-between">
      <h1>"<%= @post.title %>" by <%= @post.author.name %></h1>
      <% if can? :destroy, @post %>
        <%= button_to 'Delete', user_post_path(user_id: @post.author, id: @post), method: :delete %>
      <% end %>
    </div>
    <p class="text-right">Comments:<%= @post.comments_counter %>,Likes: <%= @post.likes_counter %></p>
  </div>
  <p class="border p-2"><%= @post.text %></p>
</div>
<ul>
  <% unless @post.comments.empty? %>
    <%= render partial: 'comment', collection: @post.comments %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
</ul>
<div class="flex justify-around">
  <%= render 'likes/new', post: @post, like: @like %>
  <%= render 'comments/new' %>
</div>
